# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity


# Output file
dist
/egeo-grid.css
/egeo-grid.min.css
/egeo-theme-stratio.css
/egeo-theme-stratio.min.css
*.map

yarn.lock
package-lock.json
.history
