@import '../../node_modules/egeo-ui-base/utils/typography';
@import '../../node_modules/egeo-ui-base/utils/colors';

.sth-dropdown-button {
   font-family: egeo-get-font(body);
   font-weight: egeo-get-font-weight(normal);
   font-size: egeo-get-font-size(body_xsmall);
   color: egeo-get-color(n7);
   background-color: egeo-get-color(n1)
}

