@import '../../node_modules/egeo-ui-base/utils/typography';
@import '../../node_modules/egeo-ui-base/utils/colors';

.sth-footer {
   background-color: egeo-get-color(a1);
   background: linear-gradient(egeo-get-color(a2), egeo-get-color(a2_dark));
}

.sth-footer-text {
   color: egeo-get-color(n0);
   font-family: egeo-get-font(open-sans);
   font-size: egeo-get-font-size(body_xsmall);

}

.sth-footer-links {
   cursor: pointer;
   color: egeo-get-color(n0);
   font-family: egeo-get-font(open-sans);
   font-size: egeo-get-font-size(body_xsmall);
}
