@import '../../node_modules/@stratio/egeo-ui-base/utils/typography';
@import '../../node_modules/@stratio/egeo-ui-base/utils/colors';

.sth-form-label {
   color: egeo-get-color(a4);
}

.sth-form-label.error {
   color: egeo-get-color(s2);
}

.sth-form-label.active {
   color: egeo-get-color(a1);
}

.sth-form-label__label--top {
   font-size: egeo-get-font-size(body_xsmall);
}

.sth-form-label__label--right {
   font-size: egeo-get-font-size(body_large);
}

.sth-form-label__label--left {
   font-size: egeo-get-font-size(body_large);
}

.sth-form-label {
   font-family: egeo-get-font(body);
}
