@import '../../node_modules/@stratio/egeo-ui-base/utils/typography';
@import '../../node_modules/@stratio/egeo-ui-base/utils/colors';

.sth-header {
   background-color: egeo-get-color(b2);
}

.sth-header-app {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
}

.sth-header-app-name {
   color: egeo-get-color(n0);
   font-family: egeo-get-font(heading);
   font-size: egeo-get-font-size(head_xlarge);
   font-weight: 500;
   height: 27px;
   line-height: 27px;
   text-align: left;
}

.sth-header-app-logo {
   color: egeo-get-color(n3);
   font-size: 28px;
   margin-right: 10px;
}

.sth-header-menu {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: flex-end;

   .sth-header-menu-item {
      padding: 0px 15px;
   }
}

.sth-header-menu-option {
   color: egeo-get-color(n6);
   font-family: egeo-get-font(heading);
   font-size: egeo-get-font-size(head_xxsmall);
   line-height: 15px;
   text-align: left;
   height: 15px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: flex-end;

   &:hover {
      color: egeo-get-color(n0);
   }
   &.active {
      color: egeo-get-color(n0);
   }



   .sth-header-menu-option-name {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: flex-end;
      text-decoration: none;
      color: inherit;

      .sth-header-menu-option-icon {
         width: 15px;
         height: 15px;
         font-size: egeo-get-font-size(icon_xsmall);
         line-height: 15px;
         text-align: left;
         margin-right: 8px;
         align-self: flex-end;
      }

      .sth-header-menu-option-label {
         height: 15px;
         line-height: 15px;
         text-align: left;
         white-space: nowrap;
         align-self: flex-end;
      }
   }


   .sth-header-menu-option-arrow {
      margin-left: 10px;
      width: 10px;
      height: 15px;
      font-size: egeo-get-font-size(icon_xxxsmall);
      line-height: 15px;
      text-align: left;
      align-self: flex-end;
   }
}

.sth-header-user-menu-combo {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: flex-end;
   color: egeo-get-color(n2);

   & .sth-header-user-menu-ico {
      margin-left: 15px;
      font-size: egeo-get-font-size(icon_xxsmall);
      line-height: 13px;
      text-align: left;
      margin-right: 7px;
   }

   & .sth-header-user-menu-name {
      font-family: egeo-get-font(body);
      font-size: egeo-get-font-size(body_xsmall);
      line-height: 13px;
      text-align: left;
      margin-right: 10px;
      white-space: nowrap;
   }

   & .sth-header-user-menu-arrow {
      font-size: egeo-get-font-size(icon_xxxsmall);
      line-height: 11px;
      text-align: left;
   }
}

.sth-header {
   position: fixed;
   width: 100%;
   left: 0;
   right: 0;
   top: 0;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: flex-end;
   transition: height 0.5s;

   .sth-header-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;
      padding-bottom: 10px;
      width: 100%;
      margin: 0 auto;

      .sth-header-container-fix-part {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         align-items: flex-end;

         .sth-header-app-component {
            height: 35px;
            margin: 0 30px;
            display: flex;
         }
         .sth-header-menu-component {
            display: flex;
            align-items: flex-end;
            height: 35px;
            margin-bottom: 10px;
         }
      }
   }


   .sth-header-user-menu-container {
      display: flex;
      flex-direction: row;
      align-content: flex-end;
      justify-content: flex-end;
      align-self: flex-end;
      flex: 1;

      .sth-header-user-menu-component {
         margin-right: 30px;
         margin-bottom: 10px;
      }
   }
}
