@import '../../node_modules/@stratio/egeo-ui-base/utils/typography';
@import '../../node_modules/@stratio/egeo-ui-base/utils/colors';

.sth-horizontal-tabs__option--disabled {
   opacity: .5;
}

.sth-horizontal-tabs__option--disabled>a {
   cursor: default;
}

.sth-horizontal-tabs__option:hover:not(.sth-horizontal-tabs__option--disabled)>a {
   color: egeo-get-color(n10);
}

.sth-horizontal-tabs__list {
   border-bottom: 1.6px solid egeo-get-color(n3);
}

.sth-horizontal-tabs__option__text {
   color: egeo-get-color(n6);
   text-decoration: none;
   font-family: egeo-get-font(heading);
   font-size: 15px;
   text-transform: uppercase;

   &:hover {
      text-decoration: none;
      color: egeo-get-color(n10);
   }
}

.sth-horizontal-tabs__option--active {
   background-color: egeo-get-color(n0);
   border: 1.6px solid egeo-get-color(n3);
   border-bottom-color: egeo-get-color(n0);
   >.sth-horizontal-tabs__option__text {
      color: egeo-get-color(n10) !important;
   }
}
