@import '../../node_modules/@stratio/egeo-ui-base/utils/typography';
@import '../../node_modules/@stratio/egeo-ui-base/utils/colors';
.sth-info-card__title {
   font-size: egeo-get-font-size(body_xxlarge);
   color: egeo-get-color(n9);
   font-weight: egeo-get-font-weight(light);
   text-overflow: ellipsis;
}

.sth-info-card__photo-div {
   border: 1px solid egeo-get-color(n3);
}

.sth-info-card__description {
   font-size: egeo-get-font-size(body_small);
   color: egeo-get-color(n6);
   text-align: justify;
}

.sth-info-card__arrow {
   color: egeo-get-color(a1);
   font-size: egeo-get-font-size(icon_small);
   visibility: hidden;
   margin-right: 40px;
   transition: all 0.2s;
   font-family: monospace;
}

.sth-info-card__arrow:before {
   content: '\e605';
   font-family: egeo-get-font(icon);
}

.sth-info-card {
   background-color: egeo-get-color(n2);
   font-family: egeo-get-font(body);
}

.sth-info-card:hover {
   background-color: egeo-get-color(a1, true, 0.2);
   cursor: pointer;
   & .sth-info-card__arrow {
      visibility: visible;
      margin-right: 0;
   }
}
