@import '../../node_modules/@stratio/egeo-ui-base/utils/typography';
@import '../../node_modules/@stratio/egeo-ui-base/utils/colors';

.sth-info-box {
   background-color: egeo-get-color(n1);
   border-bottom: 1px solid egeo-get-color(n3);
}

.sth-info-box__header {
   background-color: egeo-get-color(n2);
}

.sth-info-box__header__icon {
   text-align: center;
   font-family: egeo-get-font(icon);
   font-size: egeo-get-font-size(icon_medium);
   color: egeo-get-color(n7);
}

.sth-info-box__header__text {
   text-align: center;
   color: egeo-get-color(n7);
   text-transform: uppercase;
   font-family: egeo-get-font(heading);
}
