@import '../../node_modules/@stratio/egeo-ui-base/utils/typography';
@import '../../node_modules/@stratio/egeo-ui-base/utils/colors';

.sth-item-list {
   &__title {
      font-family: egeo-get-font(body);
      font-size: egeo-get-font-size(body_large);
      font-weight: egeo-get-font-weight(bold);
      color: egeo-get-color(n6);
   }
   &.themeA {
      border: 1px solid egeo-get-color(n3);
      background-color: egeo-get-color(n0);
   }
   &.themeB {
      background-color: egeo-get-color(n1);
   }
}

.sth-item-list__item {
   border-top: 1px solid egeo-get-color(n3);
   font-family: egeo-get-font(body);
   font-size: egeo-get-font-size(body_small);
   color: egeo-get-color(n6);
   &:hover {
      background-color: rgba(egeo-get-color(a1), 0.1);
   }
   &--selected {
      background-color: egeo-get-color(n3);
      font-weight: egeo-get-font-weight(bold);
   }
}
