@import '../../node_modules/@stratio/egeo-ui-base/utils/typography';
@import '../../node_modules/@stratio/egeo-ui-base/utils/colors';

.sth-page-title {
   border-bottom: 2px solid egeo-get-color(n4);
}

.sth-page-title-main-title {
  font-family: egeo-get-font(heading);
  font-size: egeo-get-font-size(head_xxxlarge);
  font-weight: egeo-get-font-weight(normal);
}

.sth-page-title-title {
  color: egeo-get-color(a3_dark);
  text-transform: uppercase;
}

.sth-page-title-pre-title {
   color: egeo-get-color(n5);
   text-transform: uppercase;
}

.sth-page-title-button-box {
   border-right: 2px solid egeo-get-color(n4);
}


.sth-error {
   border-color: egeo-get-color(s3) !important;
}

.sth-error-text {
   font-size: 13px;
   color: egeo-get-color(s3);
}

.sth-button-edit {
   color: egeo-get-color(n6);
}

.sth-editable {
   .sth-page-title-title {
      &:hover {
         border-color: egeo-get-color(n3)
      }
   }
}

