@import '../../node_modules/@stratio/egeo-ui-base/utils/typography';
@import '../../node_modules/@stratio/egeo-ui-base/utils/colors';

.sth-table__header {
   border-bottom: 1px solid egeo-get-color(n4);
}

.sth-table__header-item {
   font-family: egeo-get-font(body);
   font-size: 13px;
   font-weight: bold;
   line-height: 2.77;
   text-align: left;
   color: egeo-get-color(n8);
}

.sth-table__header-text {
   margin-bottom: 6px;
   line-height: 18px;
}

.sth-table__header-item--selected {
   font-weight: 800;
   .sth-table__order-arrow {
      font-weight: 800;
      color: egeo-get-color(n9) !important;
   }
}

.sth-table__order-arrow {
   font-family: egeo-get-font(icon);
   font-size: 13px;
   line-height: 2.08;
   text-align: left;
   color: egeo-get-color(n4);
}

.sth-table__order-arrow:hover {
   color: egeo-get-color(n9);
}

// row theme
.sth-table-row {
   border-bottom: 1px solid egeo-get-color(n3);
   font-family: egeo-get-font(body);
   font-size: 13px;
   line-height: 2.77;
   color: egeo-get-color(n6);
}

.sth-table-row:hover {
   background-color: rgba(egeo-get-color(a1), 0.1);
}

