@import '../../node_modules/@stratio/egeo-ui-base/utils/typography';
@import '../../node_modules/@stratio/egeo-ui-base/utils/colors';

.sth-vertical-tabs__option {
   border-bottom: 1px solid egeo-get-color(n3);
   border-right-width: 0;
   border-left-width: 0;
}

.sth-vertical-tabs__option:first-child {
    border-top: 1px solid egeo-get-color(n3);
}

.sth-vertical-tabs__option__text {
   cursor: pointer;
   color: egeo-get-color(n6);
   font-family: egeo-get-font(heading);
   font-size: egeo-get-font-size(head_xxsmall);
   font-weight: 400;
   text-align: left;
   text-transform: uppercase;
   text-decoration: none;
}

.sth-vertical-tabs__option__text.sth-vertical-tabs__option--active {
   color: egeo-get-color(n10);
   text-decoration: none;
}

.sth-vertical-tabs__option__text:hover {
   text-decoration: none;
   color: egeo-get-color(n10);
}

.sth-vertical-tabs__line {
   border-left: 1px solid egeo-get-color(n4);
}

.sth-vertical-tabs__line__arrow {
   background-color: egeo-get-color(n0);
   border: 1px solid egeo-get-color(n6);
   border-bottom-width: 0;
   border-left-width: 0;
   transition: margin-top 0.4s;
}
